.cardbodycarousel {
    margin: 5px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
   

}

.cardbodycarousel:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card_icon_overlay {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    

}

.icon_right {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
     

}

.icon_right i {
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.icon_right i:hover {
    color: #ff4757;
}

.icon_count {
    color: white;
    font-size: 12px;
    margin-top: 0px;
    font-weight: bold;
}

/* Estilos para la fecha de publicación */
.cardbodycarousel  .cardfooterpost {
    position: absolute;
    bottom: 5px;
     background: none;
    left: 3px;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
 
  
     
    border-radius: 10px;
}
.cardbodycarousel  .cardfooterpost .textmuted{
    
    bottom: 10px;
     background: none;
    left: 10px;
    color: rgb(255, 254, 254);
    font-size: 12px;
    font-weight: bold;
    
}
/* Estilos para el carrusel */
.carousel {
    border-radius: 15px;
    overflow: hidden;
    margin-top: 7px;
}

.carousel img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.carousel img:hover {
    transform: scale(1.05);
}