/* Fondo oscuro semi-transparente */
.auth-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Contenedor del modal */
.auth-modal-content {
    background-color: #fff;
    padding:0.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 95%;
    position: relative; /* Necesario para posicionar la "X" */
}

/* Botón de cierre (X) */
.auth-modal-close {
    position: absolute;
    top: 10px;
    right: 5px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #666;
    transition: color 0.3s ease;
}

.auth-modal-close:hover {
    color: #333;
}

/* Título del modal */
.auth-modal-content h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #333;
}

/* Texto descriptivo */
.auth-modal-content p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1.5rem;
}

/* Contenedor de botones */
.auth-modal-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

/* Estilos base para los botones */
.auth-button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Botón de Iniciar sesión */
.auth-button.login {
    background-color: #007bff;
    color: #fff;
}

.auth-button.login:hover {
    background-color: #0056b3;
}

/* Botón de Registrarse */
.auth-button.register {
    background-color: #28a745;
    color: #fff;
}

.auth-button.register:hover {
    background-color: #218838;
}